.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  background-color: white;
  padding: 14px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.product-card:hover {
  transform: scale(1.03);
}
